
<mat-toolbar color="primary">
  <p   (click)="map()" class="mat-elevation-z5 icon button-container" routerLink="dashboard" >
    <mat-icon>home</mat-icon>
    Our Europe Timeline
  </p>
  <p  (click)="gdpr()" class="mat-elevation-z5 icon button-container" routerLink="dashboard" >
    <mat-icon>grading</mat-icon>
    GDPR
  </p>
  <p (click)="submit()" class="mat-elevation-z5 icon button-container">
    <mat-icon>publish</mat-icon>
    Submit Content
  </p>



 </mat-toolbar>
<!--https://material.angular.io/components/toolbar/overview--->
