.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(300px, 50%)
    );
  }


@media (max-device-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit, minmax(100%, 100%)
      );
    }

}
